.Person-img{
    background-image: url(../imgs/Person.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.Key-img{
    background-image: url(../imgs/Key.svg);
    background-repeat: no-repeat;
    background-size: cover;
}